.bheader {
	background-color: #DDDDDD;
	border-radius: 10px 10px 0 0;
	padding: 10px 0;
	text-align: center;
}

.bbody {
	color: #000;
	overflow: hidden;
	padding-bottom: 20px;
	text-align: center;
	background: -moz-linear-gradient(#ffffff, #f2f2f2);
	background: -ms-linear-gradient(#ffffff, #f2f2f2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(#ffffff, #f2f2f2);
	background: -o-linear-gradient(#ffffff, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
	background: linear-gradient(#ffffff, #f2f2f2);
}

.bbody h2, .info, .error {
	margin: 10px 0;
}

.step2, .error {
	display: none;
}

.error {
	font-size: 18px;
	font-weight: bold;
	color: red;
}

.info {
	font-size: 14px;
}
label {
	margin: 0 5px;
}

input {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	padding: 4px 8px;
	text-align: center;
	width: 70px;
}

.jcrop-holder {
	display: inline-block;
}	

input[type=submit] {
	background: #e3e3e3;
	border: 1px solid #bbb;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 8px 0 9px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 150px;
}

input[type=submit]:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer;
}

input[type=submit]:active {
	background: #d0d0d0;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000;
}
